.storybook-button {
  display: inline-block;
  cursor: pointer;
  border-width: var(--border-width-primitives-large);
  border-color: var(--color-border-border-brand-primary, #002A4E);
  border-radius: var(--corner-primitives-2x);
  text-transform: uppercase;
  font-weight: var(--text-weight-primitives-font-weight-700-bold);
  line-height: 1;
  font-family: var(--text-font-family-primitives-font-family-primary, Lato, Helvetica, Arial, sans-serif);
}
.storybook-button--primary {
  box-shadow: var(--color-shadow-shadow-primary, rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset);
  background-color: var(--color-surface-surface-brand-primary, #002A4E);
  color: var(--color-text-text-primary-invert, #FFFFFF);
}
.storybook-button--secondary {
  box-shadow: var(--color-shadow-shadow-secondary, rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset);
  background-color: var(--color-surface-surface-primary);
  color: var(--color-text-text-brand-primary);
}
.storybook-button--small {
  padding: 10px 16px;
  font-size: 12px;
}
.storybook-button--medium {
  padding: 11px 20px;
  font-size: 14px;
}
.storybook-button--large {
  padding: 12px 24px;
  font-size: 16px;
}
